body{
	margin:40px 0 0 0;
	padding:0;
	background:white;
	font-size:13px;
	font-family:宋体;
}
/*更改jQuery UI主题的对话框header的背景*/
.ui-widget-header {
	background:url(../img/ui_header_bg.png);
}
/*按钮正常状态的背景*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:url(../img/ui_header_bg.png);
}
/*按钮点击状态的背景*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background:url(../img/ui_white.png);
}
/*工具提示的文本颜色*/
.ui-tooltip {
	color:#666;
}
/*邮箱自动补全的悬停背景色*/
.ui-menu-item a.ui-state-focus {
	background:url(../img/ui_header_bg.png);
}
.ui-menu-item a {
	color:#666;
}
/*日历UI的今天单元格样式*/
.ui-datepicker-today .ui-state-highlight {
	border:1px solid #eee;
	color:#f60;
}
/*日历UI的选定单元格样式*/
.ui-datepicker-current-day .ui-state-active {
	border:1px solid #eee;
	color:#06f;
}
.a {
	font-size:30px;
}
/********搜索框样式********/
#header{
	background:url(../img/nav.png);
	width:100%;
	min-width:800px;
	height:40px;
	margin:0;
	padding:0;
	position: absolute;
	top:0;
}
#header .header_main{
	width:800px;
	height:40px;
	margin:0 auto;
}
#header .header_main h2{
	color:#666;
	padding:0 10px;
	margin:0;
	line-height: 40px;
	float: left;
}
#header .header_search{
	padding:6px 0 0 0;
	float:left;
}
#header .header_search .search{
	width:300px;
	height:25px;
	border:1px solid #ccc;
	background: #ffffff;
	color:#666;
	font-size:14px;
	text-indent:5px;
}
#header .header_button{
	padding:4px;
	float:left;
}
#header .header_member{
	padding:0 10px;
	margin:0;
	line-height: 40px;
	color:#555;
	font-size:16px;
	float:right;
}
#header .header_member a{
	text-decoration: none;
	color:#555;
}
/********注册///登录********/
#reg, #login, #question {
	padding:15px 0 0 15px;
}
#reg p, #login p, #question p {
	margin:10px ;
	padding:0;
}
#reg p label, #login p label, #question p label {
	font-size:14px;
	color:#666;
}
#reg .succ, #login .succ, #question .succ {
	display: inline-block;
	width:28px;
	background:url(../img/reg_succ.png) no-repeat;
}
#reg .star, #login .star, #question .star {
	font-size:14px;
	color:red;
}
#reg ol, #login ol, #question ol {
	margin:0;
	padding:0 0 0 20px;
	color:red;
}
#reg ol li, #login ol li, #question ol li {
	height:20px;
}
#reg .text, #login .text, #question text {
	border-radius:4px;
	border:1px solid #ccc;
	background:#fff;
	width:180px;
	height:25px;
	line-height:25px;
	text-indent:5px;
	font-size:13px;
	color:#666;
}
#expires{
	margin:0 2px 0 96px;
	position: relative;
	top:2px;
}
/********数据交互********/
#loading{
	background:url(../img/loading.gif) no-repeat 20px center;
	line-height:25px;
	font-size:14px;
	font-weight: bold;
	text-indent:40px;
	color:#666;
}
#error{
	background:url(../img/error.png) no-repeat 20px center;
	line-height:25px;
	font-size:14px;
	font-weight: bold;
	text-indent:40px;
	color:#666;
}
/********选项卡///菜单********/
#main{
	width:800px;
	margin:0 auto;
	padding:30px;
}
#main .main_left{
	width: 580px;
	float: left;
}
#main .main_right{
	width: 200px;
	float: right;
}
#tabs{
	border:none;
}
#ui-tabs-1,#ui-tabs-2,#ui-tabs-3{
	border:1px solid #aaa;
	border-top:none;
	height:100px;
	padding:10px;
	position: relative;
	top:-2px;
}
/*************显示内容**************/
.content h4 {
	color:#666;
	font-weight:normal;
}
.content h3 {
	color:#369;
}
.content .editor {
	line-height:180%;
	color:#333;
}
.content .bottom {
	padding:5px 0 0 0;
}
.content hr {
	color:#ccc;
	height:1px;
}
.content .up {
	float:right;
	color:#369;
	cursor:pointer;
}
.content .down {
	font-weight:normal;
	color:#369;
	cursor:pointer;
}
